{{ header }}

	 	<div class = "container-fluid" style="  background-color: #1d1d1d;"> 
			<div class = "container">
			
					<div id ="baner">
						<div class="baner-text">
							<h1>NITRO - SUPLEMENT DIETY W FORMIE KAPSUŁEK</h1>
							<p>Wyciąg z Yerba Matę, Ashwaghandy i Różeńca Górskiego o wysokim stężeniu.</p>
							<div class="lista-baner">
								<ul>
									<li>	<span class ="bull">&bull;</span>Mniejszy niepokój i poziom kortyzolu w ciągu dnia. </li>
									<li>	<span class ="bull">&bull;</span>Wyższy poziom energii.</li>
									<li>	<span class ="bull">&bull;</span>Dla osób narażonych na działanie stresu związanego z pracą fizyczną i umysłową.</li>
								</ul>
								
								
							</div>
							
							<div class="ikony-baner">
								<img src="http://nitro.dopieca.com/image/catalog/ikona.png">
								<img src="http://nitro.dopieca.com/image/catalog/ikona2.png">
								<img src="http://nitro.dopieca.com/image/catalog/ikona3.png">
							</div>
							
							
							
						</div>
					</div>
					
				
			</div>
		</div>
		<div class = "container-fluid" style="  background-color: #e31e24; height:2px;"> 
		</div>
		
		
		<div class = "container">
	
				<div id="dlaczego-warto">
					<h2>DLACZEGO WARTO?</h2>
					
					<p>Składniki suplementu Nitro nie przypadkowo zostały połączone ze sobą w takim składzie. Zarówno Różeniec Górski jak i Ashwaghanda są silnymi adoptogenami - mają obronny i korzystny wpływ na działanie długotrwałego stresu który często bywa przyczyną wielu chorób.<br> Nie bez powodu Różeniec Górski również znalazł zastosowanie w leczeniu depresji i spadkom nastroju.<br>
						Skład wzbogaca również dobrze niektórym znana Yerba Mate(inaczej; Ostrokrzew Paragwajski).<br>
						Yerba jest ceniona szczególnie za swoje właściwości wspomagające odchudzanie.<br>
					Wpływa także na pobudzenie organizmu łagodząc jednocześnie objawy zmęczenia. Jest to świetna alternatywa dla kawy i energetyków.</p>
					
				</div>
		
		</div>
		
		<div class = "container">
			<div class = "row">
				<div class = "col-lg-4">
					<div class ="skladniki">
						<img src="http://nitro.dopieca.com/image/catalog/ikona-yerba.png">
						<h3>Yerba mate</h3>
						<p>Poprawia koncentrację, uwagę i skupienie, a poza tym dodaje energii. Oprócz kofeiny, yerba matę zawiera dwa pokrewne związki - teobrominę i teofilinę. Te trzy substancje działają razem, aby zapewnić wyjątkowe, łagodne działanie pobudzające.
						Yerba matę jest wyjątkowo bogata w składniki odżywcze. Znajdziemy w niej witaminę A, witaminy B1, B2, B3 i B5, witaminę C i E oraz wapń, żelazo, magnez, mangan, fosfor, potas, selen, sód, siarkę i cynk. Yerba matę zawiera polifenole i wykazuje większą moc antyoksydacyjną niż jakikolwiek inny napój na bazie herbaty. Ponieważ w yerba zawiera przeciwutleniacze, może skutecznie wspomagać układ odpornościowy.</p>
					</div>
				</div>
				
				
				<div class = "col-lg-4">
					<div class ="skladniki">
						<img src="http://nitro.dopieca.com/image/catalog/ikona-aswa.png">
						<h3>Ashwagandha</h3>
						<p>	Z wielu przeprowadzonych badań wynika że Ashwaghanda ma działanie antydepresyjne i jest przybliżone do działania imipraniny(leku na depresje). Może pomóc osobom zmagającym się z depresją. Jej stosowanie może przynieść pozytywne rezultaty także osobom, które zmagają się z innymi chorobami psychicznymi.
						Ashwagandha działa tonizująco, rozluźniająco oraz pozytywnie wpływa na sen, jednak nie powodując senności.</p>
					</div>
				</div>
				
				
				<div class = "col-lg-4">
					<div class ="skladniki">
						<img src="http://nitro.dopieca.com/image/catalog/ikona-roz.png">
						<h3>Różeniec Górski</h3>
						<p>Różeniec Górski wpływa pozytywnie na działanie układu Nerwowego. Co sprawia że zmniejsza się napięcie w ciele. Substancje aktywne w Różeńcu wspomagają pracę mózgu. Poprawiają koncentrację i zdolność uczenia się.
							Różeniec Górski ma feż ogólny, wzmacniający wpływ na stan psychofizyczny człowieka, dlatego podczas okresów przemęczenia, nadmiernego wysiłku stosowanie Różeńca jest wskazane.
						Jego właściwości docenią także sportowcy, bowiem Korzeń ten poprawia ogólną wydolność organizmu i poprawia regenerację po intensywnym wysiłku fizycznym.</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class = "container">	
			<div id = "porady">
				
				<div class = "row">
					<div class = "col-lg-12">
						<div class ="porada">
							<img src="http://nitro.dopieca.com/image/catalog/ikona-info.png">
							<div class ="porada-text">
								<h4>PORA SUPLEMENTACJI</h4>
								<p>Pora przyjmownia nie ma większego znaczenia, jednak zauważono że o wiele lepsze efekty są odczuwalne rano od razu przed pierwszym posiłkiem lub w momentach przemęcznia w ciągu dnia.</p>
							</div>
							<div style="clear:both"></div>
						</div>
					</div>
				</div>
				
				<div class = "row">
					<div class = "col-lg-12">
						<div class ="porada">
							<img src="http://nitro.dopieca.com/image/catalog/ikona-info2.png">
							<div class ="porada-text">
								<h4>PRZERWY W SUPLEMENTACJI</h4>
								<p>Dłuższe stosowanie nie niesie ze sobą skutków ubocznych jednak warto po 6 maksymalnie 8 tygodniach zrobić sobie przerwę na 3 do 4 tygodni co napewno nie zaszkodzi.</p>
							</div>
							<div style="clear:both"></div>
						</div>
					</div>
				</div>
				
				<div class = "row">
					<div class = "col-lg-12">
						<div class ="porada">
							<img src="http://nitro.dopieca.com/image/catalog/ikona-info3.png">
							<div class ="porada-text">
								<h4>PIERWSZE EFEKTY</h4>
								<p>Pierwsze efekty zazwyczaj są odczuwalne po około 3 tygodniach kuracji. Osoby które stosują suplement mówią że poprawił się ich poziom energii w ciągu dnia, lepiej się wysypiąją i są bardziej produktywni w ciągu dnia.</p>
							</div>
							<div style="clear:both"></div>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>


<div id="common-home" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}